.right-side-container {
  display: flex;
  flex-direction: column;
  align-items: center; 

 
}
.list-task {
  list-style-type: none;
}
.list-item-container {
  width: 75%;
}
.check-box {
  margin-left: 7px;
}
.accordion-style {
  width: 100%;
  border: none !important;
}
.delete-button {
  margin-left: auto;
  box-shadow: none !important;
}
.toggle-background-color {
  background-color: #ffffff !important;
  color: black !important;
  border: none !important;
}
.checkbox-circle {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
.checkbox-circle:checked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-check' viewBox='0 0 16 16'%3E%3Cpath d='M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z'/%3E%3C/svg%3E");
}
.add-task-input {
  border: none;
  outline: none;
}
.input-task-container {
  border: 1px solid gray;
  border-radius: 7px;
  padding: 5px;
  margin-bottom: 10px;
}
.button-1 {
  border: none;
  border-radius: 6px;
  padding: 9px;
  color: #ffffff;
  margin-right: 12px;
}
.button-2 {
  border: none;
  border-radius: 6px;
  padding: 9px;
  color: black;
}
.dropdown-toggle::after {
  display: none !important;
}
.btn-primary:focus {
  outline: none !important;
  box-shadow: none !important;
}
.btn-primary {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  color: black !important;
  background-color: #fafafa !important;
}
.display {
  text-decoration: none !important;
  color: #000 !important ;
}
a {
  text-decoration: none !important;
  color: #000 !important ;
}
.input-search {
  border-radius: 6px;
  outline: none !important;
  border: none;
  margin-left: 10px;
}
.accordion-button:not(.collapsed) {
  color: black !important;
  border: none !important;
  font-weight: 800;
  background-color: #fafafa !important;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.accordion-body {
  padding: 1rem 1.25rem;
  border: none !important;
  background-color: #fafafa !important;
}
.accordion-button:focus {
  z-index: 3;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: none !important;
}
.project-container {
  margin-top: 15px;
}
.button-add {
  border: none;
}
.strike {
  text-decoration: line-through;
  font-weight: 600;
}
.ul-container {
  width: 100%;
}
.dropdown-menu {
  background-color: none !important;
}
.popup-button {
  background-color: none !important;
}
.dropdown-item {
  background-color: #ffffff !important;
}
/* p {
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin: 0px !important;
} */
.search-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 4px;
  border-radius: 6px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.favorite-text{
  margin-left: 14px;
}
.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: none !important;
  border-top-right-radius: none !important;
}
.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: none !important;
  border-top-right-radius: none !important;
}
.color-change{
  width: 80%;
  padding: 12px;
  border-radius: 8px;
}
.text-input{
  width: 80%;
  border-radius: 8px;
  padding: 6px;
}
.circle-icon{
  margin-right: 7px;
}
.project-name{
  margin-left: 12px;
}